@import "../utils/variables";
@import "../utils/mixins";

* {
  @include reset;
}

a {
  text-decoration: none;
  color: inherit;
}
// ### LOGIN PAGE ###

html,
body,
#root {
  height: 100%;
}

.login__nav {
  height: calc(100% - $header-height);
  @include flex(h, se, c);
  img {
    @include card;
    width: 150px;
  }
  .login__link {
    margin: 3rem;
    &:hover {
      transform: scale(1.025);
    }
  }
}

.login__user {
  color: $prim-color;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
}

// ### PROFILE PAGE ###

header {
  height: $header-height;
  background-color: $sec-color;
  color: $ter-color;
  @include flex(h, sb, c);
}

.header__logo-container {
  margin: 1rem;
}

.header__menu {
  width: 100%;
  @include flex(h, sa, c);
}

.main {
  @include flex(h, sb, s);
}

.side-bar {
  @include flex(v, sa, c);
  background-color: $sec-color;
  color: $ter-color;
  height: calc(100vh - $header-height);
}

.activities-container {
  @include flex(v, sb, c);
  // gap: 1rem;
}

.activity {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem;
}

main {
  width: 100%;
  margin: 3rem;
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  .firstName {
    color: #ff0101;
  }
}

.chartContainer {
  @include flex(h, sb, c);
  // background-color: aqua;
  // border: 1px solid red;
  height: 100%;
  width: 100%;
}

.chart {
  overflow: hidden;
}

.leftSide {
  @include flex(v, sb, c);
  // background-color: rosybrown;
  // border: 2px solid green;
  width: 100%;
}
.key-data {
  @include flex(v, sb, s);
  // border: 2px solid mediumseagreen;
  height: 100%;
  padding: 1rem;
}
.data-container {
  margin: 1rem;
  @include flex(h, sb, c);
  gap: 1rem;
  // border: 1px solid sienna;
}
.data-logo-container {
  @include flex(h, sa, c);
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
}
.data-text-container {
  @include flex(v, sb, s);
}
.data-text {
  font-size: 1.25rem;
  font-weight: 500;
}
.bottomSide {
  @include flex(h, sb, c);
  // background-color: darkgrey;
  // border: 1px solid gold;
  width: 100%;
}
.bottomChart {
  width: 33%;
  border: 1px solid tomato;
}
