@import "../utils/variables";
@import "../utils/mixins";

* {
    @include reset;
  }

  a {
    text-decoration: none;
    color: inherit
  }
// ### LOGIN PAGE ###

html, body, #root {
  height: 100%;
}

.login__nav {
  height: calc(100% - $header-height);
  @include flex(h, se, c);
  img {
    @include card;
    width: 150px;
  }
  .login__link {
    margin: 3rem;
    &:hover {
      transform: scale(1.025);
    }
  }
}

.login__user {
  color: $prim-color;
  text-align: center;
  margin-top: .5rem;
  font-weight: 500;
}



// ### PROFILE PAGE ###

header {
  height: $header-height;
  background-color: $sec-color;
  color: $ter-color;
  @include flex(h, sb, c);
}

.header__menu {
  width: 100%;
  @include flex(h, sa, c);
}

.main {
  @include flex(h, sb, s);
}

.side-bar {
  @include flex(v, sa, c);
  background-color: $sec-color;
  color: $ter-color;
  height: 90vh;
  // TODO fix height
}

.activities-container {
  @include flex(v, sb, c);
  // gap: 1rem;
}

.activity {
  background-color: #fff;
  padding: .5rem;
  border-radius: .25rem;
  margin: 1rem;
}

main {
  width: 100%;
  margin: 3rem;
}