@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

$prim-color: #E60000;
$sec-color: #000000;
$ter-color: #ffffff;
$calorie-color: #fbeaea;
$protein-color: #e9f4fb;
$carb-color: #faf6e5;
$fat-color: #fbeaef;

$header-height: 90px;

// $main-radius: 1rem;
// $sec-radius: .5rem;
// $ter-radius: .25rem;
// $main-gap: 2.5rem;
// $sec-gap: 1rem;
// $ter-gap: .5rem;

